@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

nav {
    font-size: 30px;
    font-family: Karantina;
    background-color:#115A92;
    
}
.nav-header {
    font-family: Bree Serif;
    font-size: 30px;
    padding: 0 25px;
     background-color:#115A92;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

ul li {
  list-style-type: none;
  padding:15px 8px;
  display: inline-block;
  right: 100px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 15px 5px 5px;
}

header {
    background: url("images/overview-John-Adams.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}

.hero-text {
 font-family: Bree Serif;
 padding: 0 30px;
 position: absolute;
 top: 60%;
 left: 100px;
 color: white;
}

.bio-container {
    background: url("images/lightwood_texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bio-overlay {
    background:rgba(255, 255, 255, .5);
    padding-top: 25px;
}

.bio-background {
background-repeat: no-repeat;
opacity: 90%;
background-size: contain;
width: 30%;
height: 60vh;
}

.bio-quote {
 font-family: Bree Serif;
 background-color: #88070E;
 height: 150px;
 line-height: 75px;
 width: 860px;
 font-size: 35px;
 color: white;
 margin: 0 auto;
 padding: 15px;
}

.bio-quote h3 {
    margin: 0px;
}

.bio-flex {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


.bio-img {
    height: 400px;
    width: 400px; 
    margin-bottom: 25px;
}

.bio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio-text {
    font-family: Noto Sans;
    width: 60%;
    margin-left: 25px;
}

.button {
    background-color: #115A92;
    color: white;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 15px 28px;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 550px;
}

.timeline-header {
    font-family: Bree Serif;
    font-size: 50px;
}

.boston-img {
   display: flex;
   width: 420px;
   height: 348px;
   border: 2px solid #88070E;
}


.boston-title {
    font-family: Bree Serif;
    font-size: 32px;
    justify-content: center;
    
}

.boston-body  {
    font-family: Noto Sans;
    font-size: 20px;
    justify-content: center;
    
}

.boston-date {
    font-size: 32px;
    background-color: #88070E;
    color: white;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align-last: center;
    margin-left: 575px;
}

.ind-img {
    display: flex;
    width: 310px;
    height: 348px;
    border: 2px solid #88070E;
}

.ind-title {
    font-family: Bree Serif;
    font-size: 32px; 
}

.ind-body {
    font-family: Noto Sans;
    font-size: 20px;
    
}

.ind-date {
    font-size: 32px;
    background-color: #88070E;
    color: white;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align-last: center;
    margin-left: 575px;
}

.doi-img {
    display: flex;
    width: 400px;
    height: 300px;
    border: 2px solid #88070E;
}

.doi-title {
    font-family: Bree Serif;
    font-size: 32px;
    display: flex;
  
}

.doi-body {
    font-family: Noto Sans;
    font-size: 20px;
    display: flex;
    
}

.doi-date {
    font-size: 32px;
    background-color: #88070E;
    color: white;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align-last: center;
    margin-left: 575px;
}

.dip-img {
    display: flex;
    width: 285px;
    height: 348px;
    border: 2px solid #88070E;
}

.dip-title {
    font-family: Bree Serif;
    font-size: 32px;
    display: flex;
    
}

.dip-body {
    font-family: Noto Sans;
    font-size: 20px;
    display: flex;
    
}

.dip-date {
    font-size: 32px;
    background-color: #88070E;
    color: white;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align: center;
    margin-left: 575px;
}

.top-img {
    display: flex;
    width: 490px;
    height: 275px;
    border: 2px solid #88070E;
}

.top-title {
    font-family: Bree Serif;
    font-size: 32px;
    display: flex;
    
}

.top-body {
    font-family: Noto Sans;
    font-size: 20px;
    display: flex;
    
}

.top-date {
    font-size: 32px;
    background-color: #88070E;
    color: white;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align-last: center;
    margin-left: 575px;
}

.pres-img {
    display: flex;
    width: 349px;
    height: 348px;
    border: 2px solid #88070E;
}

.pres-title {
    font-family: Bree Serif;
    font-size: 32px;
    display: flex;
    
}

.pres-body {
    font-family: Noto Sans;
    font-size: 20px;
    display: flex;
    
}

.pres-date {
    font-size: 32px;
    background-color: #88070E;
    color: white;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    align-content: center;
    text-align: center;
    margin-left: 570px;
}

.inf-title {
    font-family: Bree Serif;
    font-size: 50px;
}

.pf-img {
    display: flex;
    width: 349px;
    height: 279px;
}

.pf-title {
    font-family: Bree Serif;
    font-size: 32px;
    display: inline;    
    flex-wrap: wrap;
    
}

.pf-body {
    font-family: Noto Sans;
    display: inline;
    font-size: 20px;
}

.hbo-img {
    display: flex;
    width: 400px;
    height: 300px;
}

.hbo-title {
    font-family: Bree Serif;
    font-size: 32px;
    display: inline;
   
}

.hbo-body {
    font-family: Noto Sans;
    font-size: 20px;
    display: inline;
}

.ffm-img {
    display: flex;
    width: 450px;
    height: 380px;
   }

.ffm-title {
    font-family: Bree Serif;
    font-size: 32px;
    display: inline;
    
}

.ffm-body {
    font-family: Noto Sans;
    font-size: 20px;
    display: inline;
    
}

.footer-text {
    font-family: Bree Serif;
    font-size: 20px;
    float: right;
    padding: 5px 25px;
    margin-top: 30px;
}

.footer-img1 {
    display: flex;
    float: right;
    width: 101px;
    height: 94px;
    margin-top: 100px;
    padding: 10px 10px;
}

.footer-img2 {
    display: flex;
    float: right;
    width: 98px;
    height: 94px;
    margin-top: 100px;
    padding: 10px 10px; 
}

.footer {
    background-color: #88070E;
    color: white;
    width: 1500px;
    height: 300px;    
    background-size: cover;
}