
nav {
    font-size: 24px;
    width:1440px;
    height: 100px;
    position:relative;
    float: right;
    background-color:#115A92;
    
}
.NavHeader {
    position:relative;
    padding: 25 25px;
     top: 25px;
     left: 0px;
     background-color:#115A92;
    color:white;
   }
ul li {
  list-style-type: none;
  padding:15px 8px;
  display: inline-block;
  right: 100px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 15px 5px 5px;
}

.hero {
    width: 1140px;
    height: 754px;
}




.FOOTER {
    background-color: #88070E;
    color: white;
    width: 1140px;
    height: 301px;    
}