
nav {
    font-size: 24px;
    height: 100px;
    background-color:#115A92;
    
}
.nav-header {
    padding: 0 25px;
     background-color:#115A92;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

ul li {
  list-style-type: none;
  padding:15px 8px;
  display: inline-block;
  right: 100px;
}

li a {
    text-decoration: none;
    color: white;
    padding: 15px 5px 5px;
}

.hero-text {
 padding: 0 30px;
 position: absolute;
 top: 50%;
 color: white;
}

.hero-image {
    width: 1140px;
}

.bio-background {
 background-image: url("images/light-wood.jpg");
 background:no-repeat;
 size: 5000px;
}

.bio-quote {
 padding: 0 25px;
 background-color: #88070E;
 height: 150px;
 width: 860px;
 display: flex;
 top: 20%;
 bottom: 20%;
 font-size: 35px;
 color: white;
}

.bio-img {
    height: 250px;
    width: 300px; 
    display: inline-block;
    margin-top: 30px;
}

.bio-text {
    display: flex;

}

.timeline-header {
    font-size: 50px;
}

.boston-img {
   width: 100px;
   height: 100px;
}

.boston-title {
    font-size: 30px;
}






.footer {
    background-color: #88070E;
    color: white;
    width: 1140px;
    height: 301px;    
}